header{
    margin-top: 15px;
    margin-bottom: 15px;
}

h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 25px;
    text-shadow: 4px 4px 0px #000;
}